/* Section for ABOUT US in Cornell Red Box */
#about {
  background-color: rgba(179, 27, 27); /* Cornell red */
  padding: 100px 0; /* Padding around ABOUT US */
  color: white; /* White text for the ABOUT US title */
  text-align: center; /* Center-align the text */
  width: 100vw; /* Full-width section */
  box-sizing: border-box;
}

#about h1 {
  font-size: 4em; /* Large size for ABOUT US */
  font-weight: bold;
  margin: 0; /* Remove margin */
}

/* White Box with Overview and Paragraphs */
.content-wrapper {
  background-color: white; /* White background for the content */
  padding: 50px; /* Padding inside the white box */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  text-align: center; /* Center text inside the box */
  margin: 50px auto 0; /* Negative margin to overlap the red box */
  max-width: 900px; /* Control the width of the white box */
}

.content-wrapper h2 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 30px;
  letter-spacing: 1px;
  color: black;
}

.content-wrapper p {
  margin-bottom: 30px; /* Spacing between paragraphs */
  font-size: 1.2em;
  line-height: 1.8em;
  color: #333; /* Darker text for readability */
}



.button:hover {
  background-color: transparent; 
  color: white; 
}